@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="mainContentInnerContainer">
	<h1><span class="headerNote">Welcome To </span> You're Going To Loose, So Why Play?!</h1>
	<p class="landingMessage">However much street cred your grade school playground Tic-Tac-Toe championship plaque gives you, you will still loose.</p>
	<p>@Html.ActionLink("Play Anyhow", "Play", "Home", new { @class="startGameButton" })</p>
</div>
