@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
@inherits ModelWebViewPage<GameModel>
<div id="mainContentInnerContainer">
	@using(Html.BeginForm<HomeController>(c => c.PerformMove(null), FormMethod.Post)) {
		@this.Hidden(h => h.GameId)

		<div id="gameStartMessage">
			Choose any Tic-Tac-Toe square to begin.
		</div>

		<div class="boardPositionContainer">
			<div class="boardPositionRowContainer">
				<div class="boardPosition topLeft" id="boardPositionTopLeft">
					<div class="boardPositionDisplay">&nbsp;</div>
				</div>
				<div class="boardPosition topCenter" id="boardPositionTopCenter">
					<div class="boardPositionDisplay">&nbsp;</div>
				</div>
				<div class="boardPosition topRight" id="boardPositionTopRight">
					<div class="boardPositionDisplay">&nbsp;</div>
				</div>
				<div class="clearFloat"></div>
			</div>
			<div class="boardPositionRowContainer">
				<div class="boardPosition middleLeft" id="boardPositionMiddleLeft">
					<div class="boardPositionDisplay">&nbsp;</div>
				</div>
				<div class="boardPosition middleCenter" id="boardPositionMiddleCenter">
					<div class="boardPositionDisplay">&nbsp;</div>
				</div>
				<div class="boardPosition middleRight" id="boardPositionMiddleRight">
					<div class="boardPositionDisplay">&nbsp;</div>
				</div>
				<div class="clearFloat"></div>
			</div>
			<div class="boardPositionRowContainer">
				<div class="boardPosition bottomLeft" id="boardPositionBottomLeft">
					<div class="boardPositionDisplay">&nbsp;</div>
				</div>
				<div class="boardPosition bottomCenter" id="boardPositionBottomCenter">
					<div class="boardPositionDisplay">&nbsp;</div>
				</div>
				<div class="boardPosition bottomRight" id="boardPositionBottomRight">
					<div class="boardPositionDisplay">&nbsp;</div>
				</div>
				<div class="clearFloat"></div>
			</div>
		</div>
	 
		<div id="messageContainer">
			Welcome, choose any Tic-Tac-Toe square to begin.
		</div>
	
	 	<h1><span class="headerNote">Welcome To </span> You're Going To Loose, So Why Play?!</h1>
	}
</div>

@section PageLevelJavascript
{
	<script type="text/javascript">
		$(document).ready(function () {
		});
	</script>
}
